@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272121;
    color: #FFFFFF;
    font-family: Jost;
}

main {
    background: #35322E;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

nav > figure > img {
    width: 8rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    max-width: 500px;
    margin-left: 10rem;
}

.content-box {
    background: #FFFAC7;
    color: #272121;
    padding: 2rem;
    gap: 2rem;
    border-radius: 0.5rem;
}



